.header-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: rgba(183, 212, 242, 0.6);
    padding: 25px;
}

.header-menu a {
    text-decoration: none;
    margin-left: 10px;
    color: rgb(255, 0, 100, 1);
    font-size: 17px;
    font-weight: 500;
}

.header-menu a:hover {
    border-bottom: 2px solid rgb(255, 0, 100, 1);
    transition: 0.5 ease;
}